<header class="header header-center undefined">
    <div class="container-fluid">
        <!-- Logos-->
        <div class="inner-header"><a class="inner-brand" href="index.html"><%= image_tag "logo.png", class: "brand-dark", width: "77px", alt:""%> <%= image_tag "logo-light.png", class: "brand-light", width: "77px", alt: ""%>
                <!-- Or simple text-->
                <!-- Core--></a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-navigation-inline">
                <div class="inner-nav">
                    <ul>
                        <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#">Home</a></li>
                        <li class="menu-item-has-children"><a href="#">Portfolio</a></li>
                        <li class="menu-item-has-children"><a href="#">Blog</a></li>
                        <li class="menu-item-has-children"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Extra menu-->
        <div class="extra-nav">
            <ul>
                <li><a class="open-offcanvas" href="#"><span>Menu</span><span class="fa fa-bars"></span></a></li>
            </ul>
        </div>
        <!-- Mobile menu-->
        <div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
    </div>
</header>